
alfresco_sdk.path=/home/aspa/Documents/markoa/projects/alfresco-ws/alfresco-community-sdk-2.1.0
war.file=/home/aspa/Documents/markoa/projects/alfresco-ws/alfresco-community-tomcat-2.1.0/tomcat/webapps/alfresco.war
